# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

python-binance
requests~=2.28.2
tqdm~=4.65.0
pandas~=1.5.3
bokeh~=3.1.0
numpy~=1.23.5
flask~=2.2.2
pytest~=7.1.2
